body{
	font-family: 'Roboto', sans-serif;
}

.mainHeader{

}

.navbar{

}

.navbar-brand{
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #557fab;
}

.navbar-brand li{
	float: left;
}

.navbar-brand a{
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

.navbar-brand a:hover {
	background-color: orange;
}

.board-layout {
    background-color: #5ca5a5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    padding: 10px;
    height:800px;
  }
.list-layout {
    display: grid;
    grid-gap: 10px;
   
  }
.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
  }
.board-lists {
    display: grid;
    grid-auto-columns: 275px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 400px;
 
  }
  
  .board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
	height: max-content;
    padding: 10px;
  }
  
  .list-title {
    font-size: 18px;
    font-weight: bold;
  }
.card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    cursor:pointer;
  }

 .icon-add{
 	content: "\002B";
 }

 .icon-sm{
 	height: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
 }