body
{	
	font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}

.content{
}

.title{
	color: #4b4b56;
	font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-div {
	padding-top: 12px;
    padding-bottom: 12px;
	display: inline-flex;
	width: 40%;
    margin-left: 35%;
}
.errorHandling{
        color: red;
        margin-left: 48%; 
        font-size: 12px;
        font-weight: 100;  
}

.form-div .label {
	font-size: 14px;
	width: 32%;
	line-height: 22px;
    font-size: 20px;
}

.input-div{
	display: contents;
}

.input-div input {
	font-size: 16px;
    border: #949c9c 1px solid;
    border-radius: 4px;
    font-size: 20px;
}

.input-div input[type=tel]#provider, .input-div input[type=tel]#state{
	width: 8%;
	/*text-align: center;*/
}
.input-div input[type=tel]#number{
	width: 16%;
	/*text-align: center;*/
}

.button-div{
	padding: 16px;
}

.button-div button{
	background: #5252b7;
    color: white;
    font-size: 14px;
    outline: none;
    border: #4a4a4a 1px solid;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 4px;
    margin: 8px;
}
.button-div button:disabled{
    background: grey !important;
}
.button-div button#validate{
	background: #5252b7;
    color: white;
    font-size: 14px;
    outline: none;
    border: #4a4a4a 1px solid;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 4px;
    margin: 8px !important;
}

.button-div button.reset{
	background: grey !important;
}

.input-div input:hover{
    border: red 1px solid !important;
}

/*.text{
	font-family: inherit;
    font-size: 19px;
    margin-left: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #13010e;
    font-weight: 700;
}*/

.text p{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 21px;
    padding: 2px;
    color: black;
    line-height: 1.7em;
    font-weight: 700;
}