body{
	backface-visibility: inherit;
}

.box{
	border-radius: 10px;
	padding-right: 1px;
	height: 100%;
	width: 100%;
	border: 1px  solid black; 
	background-color: whitesmoke;
}

#canvas{
	margin-top: 7px;
}


.text{
	color: black;
    font-style: Courier, serif;
    font-size: 2rem;
}
